<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <title>Document</title>
</head>
<body>
    <div class="outer-box">
        <div class="inner-box">
            <header class="head-x">
                <h1>Enter Your Choices</h1>
                <p>It will take 1sec to predict your home price</p>
              </header>
        <main class="details-corner">
            <form action="">
                <p>
                    <label for="sqft" class="io">Area (sqft):</label>
                    <input type="text" name="" id="sqft">
                    </p>

                    <p>
                        <h4>BHK</h4>
                        <div class="switch-field">
                            <input type="radio" id="radio-bhk-1" name="uiBHK" value="1"/>
                            <label for="radio-bhk-1">1</label>
                            <input type="radio" id="radio-bhk-2" name="uiBHK" value="2" checked/>
                            <label for="radio-bhk-2">2</label>
                            <input type="radio" id="radio-bhk-3" name="uiBHK" value="3"/>
                            <label for="radio-bhk-3">3</label>
                            <input type="radio" id="radio-bhk-4" name="uiBHK" value="4"/>
                            <label for="radio-bhk-4">4</label>
                            <input type="radio" id="radio-bhk-5" name="uiBHK" value="5"/>
                            <label for="radio-bhk-5">5</label>
                        </div>
                    </p>
                   
                    <p>
                        <h4>Bath</h4>
                        <div class="switch-field">
                            <input type="radio" id="radio-bath-1" name="uiBathrooms" value="1"/>
                            <label for="radio-bath-1">1</label>
                            <input type="radio" id="radio-bath-2" name="uiBathrooms" value="2" checked/>
                            <label for="radio-bath-2">2</label>
                            <input type="radio" id="radio-bath-3" name="uiBathrooms" value="3"/>
                            <label for="radio-bath-3">3</label>
                            <input type="radio" id="radio-bath-4" name="uiBathrooms" value="4"/>
                            <label for="radio-bath-4">4</label>
                            <input type="radio" id="radio-bath-5" name="uiBathrooms" value="5"/>
                            <label for="radio-bath-5">5</label>
                        </div>
                    </p>
                

                   <p>
                    <label for="locality">Select the Locality:</label>
                        <select name="" id="locality1" class="locality">
                            <option value="" disabled="disabled" selected="selected">Choose a Location</option>
                            </select>
                   </p>
            
                  <p>
                    <button class="submit" onclick="onClickedEstimatePrice()" type="button">Estimate Price</button>
                  </p>
                  <div id="uiEstimatedPrice" class="result"><h2></h2></div>
                
            </form>

        </main>
    </div>
    </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</body>
</html>